/** Adaptive UI
 * (c) Er2 2021
 */

@media screen and (max-device-width: 600px) {
  /** Mobile layout
   * (c) Er2 2021
   */
  html, input, p {
    font-size: 22px;
  }
  .nav {
    margin: unset;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 64px;
  }
  .button img {
    max-width:  64px;
    max-height: 64px;
  }
  .button {
    margin-left: 28px;
  }
  .div {
    border-top: 2px solid var(--srch-color);
    margin: 12px 20px 4px 20px;
  }
  .center {
    max-width: 100%;
  }
  .logo {
    padding-bottom: 64px;
  }
}

@media screen and (min-device-width: 2160px) {
  /** 4K UHD
   * (c) Er2 2021
   */
  html, input, p {
    font-size: 64px;
  }
  .nav {
    height: 64px;
  }
  .button img {
    max-width:  64px;
    max-height: 64px;
  }
  .center {
    max-width: 1920px;
  }
  .div {
    border-top: 4px solid var(--srch-color);
    margin: 28px 48px 24px 48px;
  }
  .logo {
    max-height: 1000px;
  }
  .search {
    height: 128px;
  }
  img.q {
    max-width:  64px;
    max-height: 64px;
  }
}
