/** Elements on hover
 * (c) Er2 2021
 */

.button:hover {
  text-decoration: underline;
}

#gh:hover {
  filter: brightness(50%);
}
#theme:hover {
  filter: invert(50%);
}

.center:hover, .shadow {
  box-shadow: 0 1px 6px var(--srch-shadw);
}

