/** Elements on hover
 * (c) Er2 2021
 */

.search:hover {
  border: none;
  box-shadow: 0 1px 6px var(--srch-shadw);
}
.button:hover, #theme svg:hover {
  text-decoration: underline;
  fill: blue;
}

