/** Themes
 * (c) Er2 2021
 */

.dark {
  --bckg-color: #000000;
  --butt-color: #ffffff;
  --srch-color: #ffffff;
  --srch-shadw: #ffffff;
  --iimg-filtr: invert(100%);
}
.white {
  --bckg-color: #ffffff;
  --butt-color: #000000;
  --srch-color: #dfe1e5;
  --srch-shadw: rgba(32, 32, 32, .28);
  --iimg-filtr: none;
}

