/** Themes
 * (c) Er2 2021
 */

.dark {
  --bckg-color: #000000;
  --butt-color: #ffffff;
  --srch-color: #ffffff;
  --srch-shadw: #ffffff;
}
.white {
  --bckg-color: #ffffff;
  --butt-color: #000000;
  --srch-color: #000000;
  --srch-shadw: rgba(32, 32, 32, .28);
}

